* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}
.header-content {
    width: 50%;
    padding-bottom: 100px;
}
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin: 10px 0;
}
.header-logo {
    margin-left: 0;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.header-link {
    color: #e5e7eb;
    font-weight: 300;
}
.header-image {
    flex-basis: 500px;
}
#header-image {
    width: 100%;
}
.header-hero {
    display: flex;
    margin-top: 80px;
}
.header-description {
    margin: 0 auto 0 0;
    width: 50%;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
}
.header-button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 10%;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bolder;
}
.header-button:hover {
    background-color: #2f6aca;
}
